releases/draft/2.3.0/xsd/core-business-ap-draft.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="AccountingDocument" type="AccountingDocumentType"/>
  <xs:element name="AdministrativeUnit" type="AdministrativeUnitType"/>
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="LegalStatus" type="LegalStatusType"/>
  <xs:element name="PowerOfAttorney" type="PowerOfAttorneyType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Uri" type="UriType"/>
  <xs:element name="Date" type="DateType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="IdentifierSchema" type="IdentifierSchemaType"/>
  <xs:element name="Identifier" type="IdentifierType"/>
  <xs:element name="LegalEntity" type="LegalEntityType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="FormalOrganization" type="FormalOrganizationType"/>
  <xs:element name="Organization" type="OrganizationType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AccountingDocumentType">
    <xs:sequence/>
    <xs:attribute name="AccountingDocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AccountingDocument ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AdministrativeUnitType">
    <xs:sequence>
      <xs:element name="code" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The classification of the administrative unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="level" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The level of the administrative unit in the hierarchy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Official, geographical name of the administrative unit, given in different languages where required.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AdministrativeUnitRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to AdministrativeUnit ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="contactPage" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A web page that could be used to reach out the Contact Point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTelephone" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A telephone number through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalStatusType">
    <xs:sequence>
      <xs:element name="legalEntityStatus" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about the viability of the position of the legal entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalStatusDate" type="xs:date" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information date of the current position of the legal entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalStatusRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalStatus ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyType">
    <xs:sequence>
      <xs:element name="authorises" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The agent that the power of attorney gives the authority to act.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The function of an Agent within a context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scopeOfAttorney" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The context in which the power of attorney can be applied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A rule that specifies representation based on being a member of the mandating legal entity, and the number of such members required to act.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PowerOfAttorneyRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PowerOfAttorney ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="UriType">
    <xs:sequence/>
    <xs:attribute name="UriRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Uri ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DateType">
    <xs:sequence/>
    <xs:attribute name="DateRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Date ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierSchemaType">
    <xs:sequence>
      <xs:element name="schemaName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Name of the schema used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierSchemaRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to IdentifierSchema ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierType">
    <xs:sequence>
      <xs:element name="dateIssued" type="xs:date" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date of formal issuance of the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifies" ref="LegalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The entity that is referenced by the Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notation" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A string of characters to uniquely identify a concept.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schema" ref="IdentifierSchemaType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The schema used to construct the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemaAgency" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the agency that issued the identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="IdentifierRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Identifier ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LegalEntityType">
    <xs:sequence>
      <xs:element name="alternativeName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Any name by which a Legal Entity is known, other than their legal name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactPoint" ref="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main contact information of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasAccountingDocument" ref="AccountingDocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The accounting document provided by an organisation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasLegalStatus" ref="LegalStatusType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The legal status provided by an organisation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasPowerOfAttorney" ref="PowerOfAttorneyType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The person authorised, pursuant to law or by appointment, to act on behalf of the legal entity in dealings with third parties and in legal proceedings.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference for the Legal Entity, which is different from the one denoting its legal status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalEntityActivity" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The area of work in which the Legal Entity is engaged.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalFormType" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The classification of the Legal Entity as a member of a particular group in the context of legal registration.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalIdentifier" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference assigned to the Legal Entity by the legal authority that registered it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="legalName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name under which the Legal Entity is legally registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registeredAddress" ref="AddressType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The address at which the Legal Entity is legally registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registrationDate" type="xs:date" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The date on which the legal entity has registered in some jurisdiction for regulatory and / or for tax purposes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LegalEntityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LegalEntity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addressArea" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a geographic area that groups Addresses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressId" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A globally unique identifier for each instance of an Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnit" ref="AdministrativeUnitType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A detailed administrative unit organized in a hierarchy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel1" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the uppermost level of the address, almost always a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel2" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullAddress" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The complete address written as a string.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorDesignator" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A number or sequence of characters that uniquely identifies the locator within the relevant scope.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Proper noun(s) applied to the real world entity identified by the locator. The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postOfficeBox" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A location designator for a postal delivery point at a post office, usually a number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postCode" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thoroughfare" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a passage or way through from one location to another.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="FormalOrganizationType">
    <xs:sequence/>
    <xs:attribute name="FormalOrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to FormalOrganization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element name="hasMember" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates an agent (person or other organization) who is a member of the subject Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasSubOrganization" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Represents hierarchical containment of Organizations or OrganizationalUnits; indicates an organization which is a sub-part or child of this organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subOrganizationOf" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Represents hierarchical containment of Organizations or OrganizationalUnits; indicates an Organization which contains this Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="OrganizationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Organization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="headOf" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that a person (or other agent) is the leader or formal head of the Organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuedBy" ref="IdentifierType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Agent legally responsible for the Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="memberOf" ref="OrganizationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates that an agent (person or other organization) is a member of the Organization with no indication of the nature of that membership or the role played.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification assigned to an Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>